<ion-view title="Add a Category" id="page5" class=" ">

<div class="bar bar-subheader" style="border:none; padding:0;">
<div class="outer_search">
      <label class="item item-input search_input">
        <input type="text" placeholder="Search">
        <i class="icon ion-search placeholder-icon"></i>
      </label>
    </div>
</div>

    <ion-content padding="false"  class="has-header has-subheader">
    
    
    

<div class="spacer" style="width: 283px; height: 182px;"></div>

<div class="add_cate">
	<h1>Add a Category</h1>
    <input type="text" placeholder="Enter Category">
    
    <div class="btn_out">
    	<a ui-sref="">Add</a>
        <a ui-sref="">Cancel</a>
    </div>
    
</div>


        
    </ion-content>
    
    <div class="save_outer">
    	<a ui-sref="#" class="btn_left">Save</a>
        <a ui-sref="" class="btn_right">Cancel</a>
    </div>
    
</ion-view>