<ion-view title="Benjamin Franklin" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="benjaminFranklin-button-bar7" class=" button-bar "></div>
        <div id="benjaminFranklin-button-bar8" class=" button-bar "></div>
        <div id="benjaminFranklin-button-bar9" class=" button-bar "></div>
        <div id="benjaminFranklin-button-bar15" class=" button-bar "></div>
        <div class="spacer" style="width: 300px; height: 47px;"></div>
        <div class="">
            <img src="img/CbjjBg3ESVCimbz7MV0Q_logo.png" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 73px;"></div>
        <p id="benjaminFranklin-markdown3" style="color:#000000;text-align:center;" class=" ">A good conscience is a continual Christmas. - Benjamin Franklin</p>
        <div class="spacer" style="width: 300px; height: 101.983px;"></div>
        <div id="benjaminFranklin-button-bar16" class=" button-bar ">
            <button id="benjaminFranklin-button84" class=" button button-positive  button-block icon ion-social-facebook "></button>
            <button id="benjaminFranklin-button85" class=" button button-assertive  button-block icon ion-android-mail "></button>
            <button id="benjaminFranklin-button86" class=" button button-calm  button-block icon ion-social-twitter "></button>
            <button id="benjaminFranklin-button87" class=" button button-dark  button-block icon ion-at "></button>
        </div>
    </ion-content>
</ion-view>