<ion-view title="Math" id="page17" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="math-button-bar62" class=" button-bar "></div>
        <div id="math-button-bar63" class=" button-bar "></div>
        <div id="math-button-bar64" class=" button-bar "></div>
        <div id="math-button-bar65" class=" button-bar "></div>
        <div class="spacer" style="width: 300px; height: 47px;"></div>
        <div class="">
            <img src="img/CbjjBg3ESVCimbz7MV0Q_logo.png" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 93px;"></div>
        <p id="math-markdown8" style="color:#006567;text-align:center;" class=" ">The square root of 64 is?</p>
        <p style="color:#006567;text-align:center;" class=" ">Answer = 8</p>
      
        
    </ion-content>
</ion-view>