<ion-view title="Profile" id="page17" class=" ">
    <!--<ion-nav-buttons side="left">
      <button class="button button-icon icon ion-navicon color_white" menu-toggle="left"></button>
      
    </ion-nav-buttons>-->
<ion-nav-buttons side="right">
      <button class="button button-icon color_white" ui-sref="menu.editProfile">Edit</button>
    </ion-nav-buttons>


    <ion-content padding="false" class="has-header">
      <div class="" ng-repeat="userdata in uservalues"> 
        <div class="profile_out">
        	<div class="center_img">
            	<img src="{{baseurl}}{{userdata.image}}" />
                <h3>User Name</h3>
            </div>
        </div>
        
        <div class="list">
        	<div class="item item-icon-left" href="#">
            <i class="icon ion-ios-person-outline"></i>
            <small>Firstname  :  {{userdata.f_name}}</small>
          </div>
          <div class="item item-icon-left" href="#">
            <i class="icon ion-ios-person-outline"></i>
            <small>Lastname  :  {{userdata.l_name}}</small>
          </div>
          <div class="item item-icon-left" href="#">
            <i class="icon ion-ios-telephone-outline"></i>
            <small>Email :  {{userdata.email}}</small>
          </div>
          
        </div>
        </div>
        
    </ion-content>
</ion-view>