<ion-view title="Radio" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="radio-button-bar17" class=" button-bar "></div>
        <div id="radio-button-bar18" class=" button-bar "></div>
        <div id="radio-button-bar19" class=" button-bar "></div>
        <div id="radio-button-bar25" class=" button-bar "></div>
        <div id="radio-button-bar26" class=" button-bar "></div>
        <button id="radio-button88" style="font-size:14px;text-align:left;" class=" button cat_btn button-calm  button-block icon-right ion-ios-arrow-forward ">Radio Link 1</button>
        <button id="radio-button99" style="font-size:14px;text-align:left;" class=" button cat_btn button-calm  button-block icon-right ion-ios-arrow-forward ">Radio Link 2</button>
        <button id="radio-button100" style="font-size:14px;text-align:left;" class=" button cat_btn button-calm  button-block icon-right ion-ios-arrow-forward ">Radio Link 3</button>
        <button id="radio-button101" style="font-size:14px;text-align:left;" class=" button cat_btn button-calm  button-block icon-right ion-ios-arrow-forward ">Radio Link 4</button>
        <button id="radio-button102" style="font-size:14px;text-align:left;" class=" button cat_btn button-calm  button-block icon-right ion-ios-arrow-forward ">Radio Link 5</button>
        <button id="radio-button103" style="font-size:14px;text-align:left;" class=" button cat_btn button-calm  button-block icon-right ion-ios-arrow-forward ">Radio Link 6</button>
        <button id="radio-button104" style="font-size:14px;text-align:left;" class=" button cat_btn button-calm  button-block icon-right ion-ios-arrow-forward ">Radio Link 7</button>
        <button id="radio-button116" style="font-size:14px;text-align:left;" class=" button cat_btn button-calm  button-block icon-right ion-ios-arrow-forward ">Radio Link 9</button>
        <button id="radio-button117" style="font-size:14px;text-align:left;" class=" button cat_btn button-calm  button-block icon-right ion-ios-arrow-forward ">Radio Link 10</button>
        <button id="radio-button118" style="font-size:14px;text-align:left;" class=" button cat_btn button-calm  button-block icon-right ion-ios-arrow-forward ">Radio Link 11</button>
        <button id="radio-button119" style="font-size:14px;text-align:left;" class=" button cat_btn button-calm  button-block icon-right ion-ios-arrow-forward ">Radio Link 12</button>
    </ion-content>
</ion-view>