<ion-view title="Select Author" id="page11" class=" ">

<div class="bar bar-subheader" style="border:none; padding:0;">
<div class="outer_search">
      <label class="item item-input search_input ">
        <input type="text" placeholder="Search" ng-model="search.name">
        <i class="icon ion-search placeholder-icon"></i>
      </label>
    </div>
</div>

    <ion-content padding="true" class="has-header has-subheader">
	<div class="list select_author">
 <span ng-repeat="authorqote in authorquotes" class=" button cat_btn button-calm  button-block icon-right " ng-bind-html="authorqote.quotes | to_trusted"></span>
      </div>
   </ion-content>
</ion-view>