<ion-view title="Select Category" id="page6" class="">


<div class="bar bar-subheader" style="border:none; padding:0;">
<div class="outer_search">
      <label class="item item-input search_input category_search">
        <input type="text" placeholder="Search" ng-model="search.name">
        <i class="icon ion-search placeholder-icon"></i>
      </label>
    </div>
</div>

    <ion-content padding="true" class="has-header has-subheader">
<ion-list>
  <div class="category_list-list">
  <ion-item ng-repeat="teacherdata in list">
    {{teacherdata.f_name}} {{teacherdata.l_name}}
    <span class="" ng-if="teacherdata.status=='0'" ng-click="follow(studentid, teacherdata.id)">Follow</span>
    <span class="" ng-if="teacherdata.status=='1'" ng-click="unfollow(studentid, teacherdata.id)" >Unfollow</span>
    <span class="" ng-if="teacherdata.status=='2'" >Rejected</span>
    <span class="" ng-if="teacherdata.status=='3'" >Requested</span>
  </ion-item>
  </div>
</ion-list>
    </ion-content>
</ion-view>