<ion-view title="Splash" hide-nav-bar="true" id="page1" class=" ">
    <ion-content padding="true" style="background: url(img/D9xraZxFSVugoc6w1exE_splash%2520screen.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 283px; height: 113px;"></div>
        <div class="">
            <img src="img/zcrDCG2SkCCjULa9jK1w_logo.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 282.997px; height: 132.991px;"></div>
        <a ui-sref="menu.login" id="splash-button1" style="font-weight:500;color:#004243;" class=" button button-light  button-block ">Next</a>
    </ion-content>
</ion-view>