<ion-view title="Teach Alerts" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="teachAlerts-button-bar30" class=" button-bar "></div>
        <div id="teachAlerts-button-bar31" class=" button-bar "></div>
        <div id="teachAlerts-button-bar32" class=" button-bar "></div>
        <div id="teachAlerts-button-bar33" class=" button-bar "></div>
        <div id="teachAlerts-button-bar34" class=" button-bar "></div>
        <div class="spacer" style="width:100%; height: 14px;"></div>
        <button id="teachAlerts-button127" style="font-size:14px;text-align:left;" class=" button button-calm  button-block icon-right ion-ios-arrow-forward ">Project due</button>
        <button id="teachAlerts-button128" style="font-size:14px;text-align:left;" class=" button button-calm  button-block icon-right ion-ios-arrow-forward ">Homework due</button>
        <button id="teachAlerts-button129" style="font-size:14px;text-align:left;" class=" button button-calm  button-block icon-right ion-ios-arrow-forward ">Grades out</button>
        <button id="teachAlerts-button130" style="font-size:14px;text-align:left;" class=" button button-calm  button-block icon-right ion-ios-arrow-forward ">Test tomorrow</button>
        <button id="teachAlerts-button131" style="font-size:14px;text-align:left;" class=" button button-calm  button-block icon-right ion-ios-arrow-forward ">Back to School Night</button>
        <button id="teachAlerts-button132" style="font-size:14px;text-align:left;" class=" button button-calm  button-block icon-right ion-ios-arrow-forward ">Parent Conference</button>
        <button id="teachAlerts-button133" style="font-size:14px;text-align:left;" class=" button button-calm  button-block icon-right ion-ios-arrow-forward ">Behavior</button>
        <button id="teachAlerts-button134" style="font-size:14px;text-align:left;" class=" button button-calm  button-block icon-right ion-ios-arrow-forward ">Open house night</button>
        <button id="teachAlerts-button135" style="font-size:14px;text-align:left;" class=" button button-calm  button-block icon-right ion-ios-arrow-forward ">Missing work</button>
        <div class="spacer" style="width:100%; height: 7px;"></div>
        <!-- <button id="teachAlerts-button138" class=" button button-dark  button-block ">Send Alerts</button>
        <div id="teachAlerts-button-bar36" class=" button-bar ">
            <button id="teachAlerts-button145" class=" button button-positive  button-block ">Email</button>
            <button id="teachAlerts-button147" class=" button button-calm  button-block ">SMS</button>
        </div>
        <div id="teachAlerts-button-bar35" class=" button-bar "></div> -->
    </ion-content>
</ion-view>