<ion-view title="Vocabulary" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="vocabulary-button-bar10" class=" button-bar "></div>
        <div id="vocabulary-button-bar11" class=" button-bar "></div>
        <div id="vocabulary-button-bar12" class=" button-bar "></div>
        <div id="vocabulary-button-bar13" class=" button-bar "></div>
        <div class="spacer" style="width: 300px; height: 47px;"></div>
        <div class="">
            <img src="img/CbjjBg3ESVCimbz7MV0Q_logo.png" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 57px;"></div>
        <p id="vocabulary-markdown1" style="color:#000000;text-align:center;" class=" ">Metamorphosis: In Kafka’s novel entitled Metamorphosis, a man wakes up to find he has turned into a cockroach. That kind
            <br>of complete and starting change pretty much sums up the word.</p>
        <div class="spacer" style="width: 300px; height: 45px;"></div>
        <div id="vocabulary-button-bar14" class=" button-bar ">
            <a href="tel:" id="vocabulary-button80" class=" button button-positive  button-block icon ion-social-facebook "></a>
            <button id="vocabulary-button81" class=" button button-assertive  button-block icon ion-android-mail "></button>
            <button id="vocabulary-button82" class=" button button-calm  button-block icon ion-social-twitter "></button>
            <button id="vocabulary-button83" class=" button button-dark  button-block icon ion-at "></button>
        </div>
    </ion-content>
</ion-view>